*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i {
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}

#btn2{
    border: none;
    color: white;
    background-color:rgb(245, 107, 27);
}

#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#img1, #img2, #img3{
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}
#btm-left i{
    color: rgb(255, 123, 0);
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ri-tooth-line{
    background-color: rgb(255, 123, 0);
    border: 1.5px solid black;
    border-radius: 50%;
}
#youtube, #instagram, #facebook{
    height: 40px;
    padding: 10px;
    gap: 5px;
}
#btm-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    gap: 10px;
    font-size: 17px;
}

#center-btm{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
}